ENDPOINT="localhost:8003"
FRIENDBOT_URL="http://localhost:8000/friendbot"
NETWORK_PASSPHRASE="Standalone Network ; February 2017"
HCNET_CORE_URL="http://localhost:11626"
CAPTIVE_CORE_CONFIG_PATH="/opt/hcnet/soroban-rpc/etc/hcnet-captive-core.cfg"
CAPTIVE_CORE_STORAGE_PATH="/opt/hcnet/soroban-rpc/captive-core"
HCNET_CORE_BINARY_PATH="/usr/bin/hcnet-core"
HISTORY_ARCHIVE_URLS=["http://localhost:1570"]
DB_PATH="/opt/hcnet/soroban-rpc/rpc_db.sqlite"
HCNET_CAPTIVE_CORE_HTTP_PORT=0
CHECKPOINT_FREQUENCY=64
